<mat-vertical-stepper [linear]="true" class="vert-stepper">
  <mat-step *ngFor="let step of Steps; let i = index;trackBy:trackByIdx">
    <form *ngIf="step">
      <ng-template matStepLabel>{{step.Title}}</ng-template>
      <mat-form-field style="margin-top: 10px">
        <mat-label>{{step.Name}}</mat-label>
        <input matInput required [type]="step.Type" [(ngModel)]="step.Value" name="input">
      </mat-form-field>
      <div>
        <div class="item"><button mat-button matStepperPrevious *ngIf="i !== 0">Back</button></div>
        <div class="item"><button mat-button matStepperNext>Next</button></div>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Fire request</ng-template>
    <div>
      <h4 *ngIf="Steps.length > 0">Test parameters:</h4>
      <div *ngFor="let step of Steps">
        {{step.Name}}: {{step.Value}}
        <mat-error style="display:inline;" *ngIf="step.Value == ''">empty</mat-error>
      </div>
      <br>
      <div>
        <div class="item"><button mat-button matStepperPrevious *ngIf="Steps.length > 0">Back</button></div>
        <div class="item"><button mat-button (click)="fire()" *ngIf="Steps.every(checkSteps)">Fire</button></div>
      </div>
    </div>
  </mat-step>

</mat-vertical-stepper>
