<mat-vertical-stepper [linear]="true" class="vert-stepper">
  <mat-step *ngFor="let step of Steps; let i = index;trackBy:trackByIdx">
    <form *ngIf="step">
      <ng-template matStepLabel>{{step.Title}}</ng-template>
      <mat-form-field>
        <mat-label>{{step.Title}}</mat-label>
        <input matInput required [type]="step.Type" [(ngModel)]="step.Value">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious *ngIf="i != 0">Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Fire request</ng-template>
    <div>
      Test parameters:
      <div *ngFor="let step of Steps">
        {{step.Title}}  {{step.Value}}
      </div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="fire()">Fire</button>
    </div>
  </mat-step>

</mat-vertical-stepper>
