<!-- hier muss eine select component hin, um save mit oder ohne relationen auszuwählen -->
<!-- sollte für alle endpoints allgemein nutzbar sein -->
<app-test-displayer [Steps]="Steps" [Tests]="Tests"></app-test-displayer>

<!--<mat-tab-group> &lt;!&ndash; eventuell in component auslagern, damits auch für alle endpoints nutzbar wird&ndash;&gt;-->
<!--  <mat-tab label="MongoDB">-->
<!--    <div *ngFor="let input of model.inputs">-->
<!--      {{input}}-->
<!--    </div>-->
<!--  </mat-tab>-->
<!--  <mat-tab label="MariaDB">-->
<!--    <div>-->
<!--      Content 2-->
<!--    </div>-->
<!--  </mat-tab>-->
<!--  <mat-tab label="Neo4j">-->
<!--    <div>-->
<!--      Content 3-->
<!--    </div>-->
<!--  </mat-tab>-->
<!--</mat-tab-group>-->
